<div class="modal">
  <ion-header-bar class="bar-secondary">
    <h1 class="title">New Item</h1>
    <button class="button button-clear button-positive" ng-click="closeNewItem()">Cancel</button>
  </ion-header-bar>

  <ion-content>
    <form ng-submit="createItem(item)">
      <div class="list">
        <label class="item item-input">
          <input id="english" type="text" placeholder="English" ng-model="item.english">
        </label>
        <label class="item item-input">
          <input id="pinyin" type="text"  placeholder="Pinyin" ng-model="item.pinyin" >
        </label>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-positive">Create</button>
      </div>
    </form>
  </ion-content>
</div>
