<div ng-controller="ItemCtrl as ic">
  <ion-view view-title="Translateo">
    <ion-nav-buttons side="secondary">
      <button class="button button-icon ion-plus" ng-click="newItem()"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <ul>
          <li ng-repeat="item in items">
            {{item.english}} ({{item.pinyin}}) ------------- <button ng-click="removeItem(item._id)"><i class="icon ion-close"></i></button>
          </li>
        </ul>
      </div>
    </ion-content>
  </ion-view>
</div>
