<!-- Generated template for the AudioPlayer component -->
<div>
  <ion-grid>
    <ion-row>
      <ion-col col-3>
        <ion-icon item-right name="musical-notes" style="font-size: 4em;"></ion-icon>
      </ion-col>
      <ion-col col-9>
        <p><b>Now playing</b>:</p>
        <p>{{text}}</p>
        <button ion-button small (click)="play()"><ion-icon name="play"></ion-icon></button>
        <button ion-button small (click)="pause()"><ion-icon name="pause"></ion-icon></button>
        <button ion-button small (click)="stop()"><ion-icon name="square"></ion-icon></button>
      </ion-col>
    </ion-row>
  </ion-grid>




  <!-- <div>
    <ion-icon item-right name="musical-notes"></ion-icon>
    <p><b>Now playing</b>:</p>
    <p>{{text}}</p>

  </div>
  <div>
    <button ion-button small round (click)="play()"><ion-icon name="play"></ion-icon></button>
    <button ion-button small round (click)="pause()"><ion-icon name="pause"></ion-icon></button>
    <button ion-button small round (click)="stop()"><ion-icon name="square"></ion-icon></button>
  </div> -->
</div>
